
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestJson</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn1").click(function () {
                $.ajax({
                    url: "/Default/TestJson",
                    dataType: "json", type: "post",
                    success:function(data)
                    {
                        alert(data.name);

                        alert(data.birthDate);
                    },
                    error:function()
                    {
                        alert("ajax错误!");
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div> 
        <button id="btn1">click</button>
    </div>
</body>
</html>
