
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="~/Default/Index" method="post">
            用户名：<input type="text" name="UserName"/>
            密码：<input type="text" name="Password"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>
