@using ZSZ.CommonMVC;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pager1</title>
</head>
<body>
    <div> 
        @{ 
            Pager pager = new Pager();
            pager.CurrentPageClassName = "active";
            pager.MaxPagerCount = 10;
            pager.PageIndex = 3;
            pager.PageSize = 50;
            pager.TotalCount = 809;
            pager.UrlPattern = "/Data?p={pn}";
        }
        @Html.Raw(pager.GetPagerHtml())
    </div>
</body>
</html>
